<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
  <link href="try.css" rel="stylesheet">
</head>
<body>
  <h1>{{name}}</h1>
  <h1>{{age}}</h1>
  <h1>{{school}}</h1>
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        {{users.thuhuongvan98.Name}}
      </td>
    </tr>
    <tr>
      <td>
        Age:
      </td>
      <td>
        {{users.thuhuongvan98.Age}}
      </td>
    </tr>
    <tr>
      <td>
        Address:
      </td>
      <td>
        {{users.thuhuongvan98.Address}}
      </td>
    </tr>
    <tr>
      <td>
        Picture:
      </td>
      <td>
        
      </td>
    </tr>
  </table>
  <img src="/Lesson 10/templates/static/IMG_8550.png" style="width:500px;height:600px;">
</body>
</html>

css: file chỉnh tất cả ảnh
